body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkred;
  font-family: 'MedievalSharp', cursive;
}

.container{
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}

.inputContainer{
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.addInsultInput{
  height: 2rem;
  width: 15rem;
}